#container
  article#top
    header.clearfix
      h1.png
      nav
        ul
          li.nav01
            a(href='#about')
              span
                img(src='/images/icon_arrow.gif', width='11', height='11', alt='below')
              img.png(src='/images/nav_about.png', width='45', height='13', alt='About')
          li.nav02
            a(href='#works')
              span
                img(src='/images/icon_arrow.gif', width='11', height='11', alt='below')
              img.png(src='/images/nav_works.png', width='48', height='11', alt='Works')
          li.nav03
            a(href='http://rd.uniba.jp/blog/', target='_blank')
            span
              img(src='/images/icon_window.gif', width='11', height='11', alt='launch')
            img.png(src='/images/nav_rdd.png', width='207', height='12', alt='Random Digit Dialogue Blog')
          li.nav04
            a(href='http://www.cbc-net.com/work/company/uniba/', target='_blank')
            span
              img(src='/images/icon_window.gif', width='11', height='11', alt='launch')
            img.png(src='/images/nav_recruit.png', width='55', height='12', alt='Recruit')
      section.eyecatch
        div(style='width: 337px; height: 337px;')
        
      #fig-wrapper-e
        #fig-e
          img.star-1(src='/images/_header/star_1.png')
          img.star-2(src='/images/_header/star_2.png')
          img.star-3(src='/images/_header/star_3.png')
          img.star-4(src='/images/_header/star_4.png')
          img.star-5(src='/images/_header/star_5.png')
          img.star-6(src='/images/_header/star_6.png')
          img.sika(src='/images/_header/sika.png')
          img.santa(src='/images/_header/santa.png')
          img.merry-christmas(src='/images/_header/merry_christmas.png')
  
  #content
    article#xmas
    
      // intro section
      section.clearfix.block
        .section-container
          header(style='width: 100%; float: none;')
            h1
              img.png(src='/images/h2_logo_christagram.png', width='318', height='96', alt='Christagram')
              aside
                a(href='http://www.facebook.com/UnibaInc', target='_blank')
                span
                  img(src='/images/icon_fb_g.gif', width='14', height='14', alt='Lastest news on Facebook')
                  | Your Snow Time
            h2
              | ユニバ株式会社はクロスメディア・クロスデバイス領域で活動するデザイン会社です。
              br
              | 多くのPC、モバイルを横断するウェブサービス、キャンペーン、サイトを手がけてきました。
              br
              | 近年はスマートフォン、デジタルサイネージ等の隆盛を受けて、
              br
              | 新しいウェブ標準とメディアアートがクロスする領域に取り組んでいます。
          #fig-wrapper-a
            #fig-a
              img.tree(src='/images/_center/tree.png')
              img.box-1(src='/images/_center/box_1.png')
              img.box-2(src='/images/_center/box_2.png')
              img.socks(src='/images/_center/socks.png')
              img.star-1(src='/images/_center/star_1.png')
              img.star-2(src='/images/_center/star_2.png')
              img.star-3(src='/images/_center/star_3.png')
              img.santa(src='/images/_center/santa.png')
              img.fallout(src='/images/_center/fallout.png')
          
          #fig-wrapper-b
            #fig-b
              img.human(src='/images/_center2/shabon_human.png')
              img.shabon-1(src='/images/_center2/shabon_1.png')
              img.shabon-2(src='/images/_center2/shabon_2.png')
              img.shabon-3(src='/images/_center2/shabon_3.png')
              
      // movie section
      section.clearfix.block
        .section-container
          header
            h3
              img.png(src='/images/h_movie.png', alt='Movie', width='78', height='51')
          .columns
            iframe(src='http://player.vimeo.com/video/31715225?title=0&amp;byline=0&amp;portrait=0', width='580', height='326', frameborder='0'
              'webkitAllowFullScreen', 'mozallowfullscreen', 'allowFullScreen')
              p
                a(href='http://vimeo.com/31715225') Uniball
                | from
                a(href='http://vimeo.com/user5568276') Uniba RDD
                | on
                a(href='http://vimeo.com') Vimeo
                | .
          #fig-wrapper-c
            #fig-c
              img.snowman(src='/images/_header/top_snowman.png')
          
      // photo section
      section.clearfix.block
        .section-container
          header
            h3
              img.png(src='/images/h_photo.png', alt='Photo', width='72', height='51)
      .instagram.transitions-enabled.clearfix
      #fig-wrapper-d
        #fig-d
          img.main(src='/images/_footer/footer_main_bg.png')
          img.snowball-1(src='/images/_footer/snowball_1.png')
          img.snowball-2(src='/images/_footer/snowball_2.png')
          img.snowball-3(src='/images/_footer/snowball_3.png')
          img.snowball-4(src='/images/_footer/snowball_4.png')
          img.snowball-5(src='/images/_footer/snowball_5.png')
          img.snowball-6(src='/images/_footer/snowball_6.png')
          img.snowball-7(src='/images/_footer/snowball_7.png')
          img.snowball-8(src='/images/_footer/snowball_8.png')
          img.snowball-9(src='/images/_footer/snowball_9.png')
          img.snowball-10(src='/images/_footer/snowball_10.png')
          img.snowball-11(src='/images/_footer/snowball_11.png')
          img.snowball-tree-1(src='/images/_footer/snowball_tree_1.png')
          img.snowball-tree-2(src='/images/_footer/snowball_tree_2.png')
          img.snowball-tree-3(src='/images/_footer/snowball_tree_3.png')
          img.snowball-tree-4(src='/images/_footer/snowball_tree_4.png')
          img.snowball-tree-5(src='/images/_footer/snowball_tree_5.png')
          img.snowball-tree-6(src='/images/_footer/snowball_tree_6.png')
          img.snowball-tree-7(src='/images/_footer/snowball_tree_7.png')
          img.snowball-tree-8(src='/images/_footer/snowball_tree_8.png')
          img.snowball-shot-1(src='/images/_footer/snowball_shot_1.png')
          img.snowball-shot-2(src='/images/_footer/snowball_shot_2.png')
          img.snowball-shot-3(src='/images/_footer/snowball_shot_3.png')
          img.snowball-shot-4(src='/images/_footer/snowball_shot_4.png')
          img.snowball-shot-5(src='/images/_footer/snowball_shot_5.png')
          img.snowball-shot-6(src='/images/_footer/snowball_shot_6.png')
          img.snowball-shot-7(src='/images/_footer/snowball_shot_7.png')
          img.snowball-shot-8(src='/images/_footer/snowball_shot_8.png')
          img.snowball-shot-9(src='/images/_footer/snowball_shot_9.png')
          img.snowball-shot-10(src='/images/_footer/snowball_shot_10.png')
          img.snowball-shot-11(src='/images/_footer/snowball_shot_11.png')
    footer
      address
        img(src='/images/h_footer.gif', width='1024', height='93', alt='Uniba Inc. Some Rights Reserved. We are open.')
  article#canvas
    canvas(width='100%', height='748')
