!!! 5
html(lang='ja', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://ogp.me/ns/fb#')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,Chrome=1')
    meta(name='viewport', content='width=1280, initial-scale=1.0')
    // http://developers.facebook.com/tools/debug
    meta(property='og:title', content='Christagram ☃ from Uniba Inc.')
    meta(property='og:type', content='website')
    meta(property='og:description', content='uniba特製のクリスマスサイトができました。どんな仕掛けがしてあるかは見てのお楽しみ。Merry Christmas!!　素敵な年末年始を。unibaスタッフ一同')
    meta(property='og:url', content='http://christa.uniba.jp/')
    meta(property='og:image', content='http://christa.uniba.jp/images/og_image_100px.png')
    meta(property='og:site_name', content='Christagram ☃')
    // https://graph.facebook.com/UnibaInc
    meta(property='fb:page_id', content='181043831916549')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/libs/fancybox/jquery.fancybox-1.3.4.css')
    script(src='//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js')
    script(src='/javascripts/libs/superagent.js')
    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
    script(src='/javascripts/libs/jquery.transform2d.js')
    script(src='/javascripts/libs/jquery.masonry.min.js')
    script(src='/javascripts/libs/fancybox/jquery.fancybox-1.3.4.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/app.js')
  body!= body
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22139995-1']);
      _gaq.push(['_setDomainName', '.uniba.jp']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    // if lt IE8
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
