@import 'nib'

@charset "utf-8n"

$width = 1024px
$font = "Myriad Pro", "Segoe UI"

global-reset()
reset-html5()
.clearfix
  clearfix()

body
  font-size: 0.85em

ul, li
  list-style: none outside

img
  border: none
  vertical-align: top
  
a
  text-decoration: none
body
  background-color: #dddddd
  font-family: $font, "Hiragino Kaku Gothic Pro"

#container
  padding: 0 0 100px 0

#top
  width: $width
  margin: 0 auto
  padding: 19px 0 0 0
  position: relative
  z-index: 10
  header
    h1
      float: left
      width: 103px
      height: 25px
      background: url(/images/h_logo.png) 44px top no-repeat
      padding: 0 531px - 103px - 44px 0 44px
      font-size: 1px
      line-height: 1em
      hide-text()
    nav
      float: left
      width: $width - 531px
      padding: 2px 0 0 0
      ul li
        float: left
        height: 15px
        font-size: 1px
        line-height: 1em
        overflow: hidden
        a img
          margin: 0
          transition: opacity, 0.5s, ease, 0
          span img
            margin: 0 5px 0 0
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5)
            transition: box-shadow, 0.5s, ease, 0
          &:hover img
            opacity: 0.5
            span img
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
              opacity: 1

#content
  width: $width
  margin: 0 auto
  background-color: #f3f3f3
  box-shadow: 0 0 51px rgba(0, 0, 0, 0.4)
  position: relative
  z-index: 10
  
#xmas
  // padding: 48px 42px 10px 42px
  position: relative
  header
    h1
      position: relative
    h1 aside
      font-family: $font
      font-weight: normal
      position: absolute
      top: 4px
      right: 100px
    h2
      padding: 36px 0 12px 0
      color: #312f24
      font-size: 1.1em
      font-family: "Hiragino Mincho Pro"
      font-weight: normal
      line-height: 2em
  
  section.block
    // width: $width - 120px - 90px
    position: relative
    padding: 48px 42px 10px 42px
    header
      float: left
      width: 300px

.instagram
  width: 100%
  margin-left: -5x
  margin-top: -10px
  padding: 48px - 5px
  height: 160px * 3px
  // background-color: #000000
  .photo-wrapper
    margin: 5px
    float: left
    // width: 150px
    display: inline-block
    img
      border-radius: 4px
  .thumbnail img
    width: 85px
    height: 85px
  .low_resolution img
    width: 180px
    height: 180px
  .standard_resolution img
    width: 275px
    height: 275px
    
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick
  transition-duration: 1s;
.transitions-enabled.masonry
  transition-property: height, width;
.transitions-enabled.masonry .masonry-brick
  transition-property: left, right, top opacity;

.columns
  float: left
  width: 640px
      
#canvas canvas
  background-color: #ffffff
  width: 100%
  height: 748px
  absolute: top 0 left 0
  z-index: 5

#fig-wrapper-a
  absolute: top 70px left 405px
  z-index: 15
  #fig-a
    position: relative
    .tree
      absolute: top 18px left 13px
    .box-1
      absolute: top 50px left 0
    .box-2
      absolute: top 62px left 10px
    .socks
      absolute: top 23px left 49px
    .fallout
      absolute: top 28px left 78px
    .santa
      absolute: top 22px left 78px
    .star-1
      absolute: top 33px left 76px
    .star-2
      absolute: top 15px left 79px
    .star-3
      absolute: top 6px left 90px
    .star-4
      absolute: top 0 left 106px

#fig-wrapper-b
  absolute: top 232px right 111px
  z-index: 15
  #fig-b
    position: relative
    .human
      absolute: top 47px left 0
    .shabon-3
      absolute: top 39px left 40px
    .shabon-2
      absolute: top 21px left 38px
    .shabon-1
      absolute: top 0 left 48px

#fig-wrapper-c
  absolute: top 270px left 104px
  z-index: 15
  #fig-c
    position: relative
    .snowman
      absolute: top 0 left 0

#fig-wrapper-d
  // absolute: top 200px left 0
  height 150px
  z-index: 15
  #fig-d
    position: relative
    .main
      absolute: top 0 left 49px
    .snowball-1
      absolute: top 116px left 23px
    .snowball-2
      absolute: top 78px left 43px
    .snowball-3
      absolute: top 53px left 62px
    .snowball-4
      absolute: top 69px left 104px
    .snowball-5
      absolute: top 83px left 139px
    .snowball-6
      absolute: top 58px left 173px
    .snowball-7
      absolute: top 71px left 210px
    .snowball-8
      absolute: top 51px left 243px
    .snowball-9
      absolute: top 35px left 281px
    .snowball-10
      absolute: top 63px left 279px
    .snowball-11
      absolute: top 90px left 303px
    .snowball-tree-1
      absolute: top 68px left 454px
    .snowball-tree-2
      absolute: top 20px left 461px
    .snowball-tree-3
      absolute: top 0 left 521px
    .snowball-tree-4
      absolute: top 21px left 562px
    .snowball-tree-5
      absolute: top 3px left 597px
    .snowball-tree-6
      absolute: top 50px left 653px
    .snowball-tree-7
      absolute: top 25px left 679px
    .snowball-tree-8
      absolute: top 75px left 689px
    .snowball-shot-1
      absolute: top 49px left 687px
    .snowball-shot-2
      absolute: top 75px left 707px
    .snowball-shot-3
      absolute: top 43px left 739px
    .snowball-shot-4
      absolute: top 80px left 768px
    .snowball-shot-5
      absolute: top 53px left 815px
    .snowball-shot-6
      absolute: top 72px left 842px
    .snowball-shot-7
      absolute: top 55px left 879px
    .snowball-shot-8
      absolute: top 85px left 914px
    .snowball-shot-9
      absolute: top 65px left 947px
    .snowball-shot-10
      absolute: top 92px left 980px
    .snowball-shot-11
      absolute: top 56px left 997px

#fig-wrapper-e
  absolute: top 90px left 390px
  z-index: 15
  #fig-e
    position: relative
    .santa
      absolute: top 62px left 127px
    .sika
      absolute: top 44px left 36px
    .star-1
      absolute: top 117px left 3px
    .star-2
      absolute: top 57px left 0
    .star-3
      absolute: top 0 left 61px
    .star-4
      absolute: top 10px left 133px
    .star-5
      absolute: top 21px left 193px
    .star-6
      absolute: top 67px left 272px
    .merry-christmas
      absolute: top 195px left 16px

.step
  width: 10px
  height: 10px
  background-color: red
  opacity: 0.5